{% extends "base.html" %}

{% block content %}
    <form action="/next" method="get">
        {{ csrf_token }}

        <div class="home-desc">
            <embed src="/static/img/bank.svg" type="image/svg+xml" />
            <h1>Will the bank approve my loan?</h1>
        </div>

        <div style="clear: both">&nbsp;</div>
        <p>
            Enter your desired zip code:
            {% if invalid_zip %}
                <span style="color: red;">(Please enter a valid US zip code)</span>
            {% endif %}
        </p>

        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="zip">Zip Code:</label>
            <input type="number" name="zip" id="zip" value="" placeholder="Zip Code" data-mini="true"/>
        </div>

        <button type="submit" data-theme="a" class="ui-btn-hidden" aria-disabled="false">Go</button>

    </form>
{% endblock %}