{% extends "base.html" %}

{% block content %}

    <div class="page-container">
        <h2>
            Will they approve me with my good credit in {{ zip.zip }} {{ zip.city|title }}, {{ zip.state }}?
        </h2>
        <fieldset>
            <div style="float: right;" id="income-legend">
                $ <span></span>
            </div>
            <label for="slider-1">What is your income?</label>
            <input type="range" name="slider-income" id="slider-income" step="1000" value="100000" min="0" max="800000" data-highlight="true" data-legend="income-legend"/>
        </fieldset>

        <fieldset>
            <div style="float: right;" id="loan-legend">
                $ <span></span>
            </div>
            <label for="slider-1">What is the loan amount?</label>
            <input type="range" name="slider-loan" id="slider-loan" step="1000" value="350000" min="0" max="1000000" data-highlight="true" data-legend="loan-legend"/>
        </fieldset>

        <div data-role="fieldcontain" class="ui-hide-label">
            <fieldset data-role="controlgroup">
               <legend>FHA/VA loan?</legend>
               <input type="checkbox" name="checkbox-fha" id="checkbox-fha" class="custom" value='1' />
               <label for="checkbox-fha">FHA/VA loan?</label>
            </fieldset>
        </div>


        <p class="result-cont">
            <div class="result" id="result-good" style="display:none;">
                <embed src="/static/img/like.svg" type="image/svg+xml" />
                <h5>
                    <B>Go ahead</B> <br/>
                    Your loan will probably be approved!
                    
                </h5>
            </div>

            <div class="result" id="result-doubt" style="display:none;">
                <embed src="/static/img/question.svg" type="image/svg+xml" />
                <h5>
                    <B>Hmmm</B> <br/>
                    Loans like this have been approved before... <br/> <span id="more-info"></span>
                </h5>
            </div>

            <div class="result" id="result-bad" style="display:none;">
                <embed src="/static/img/stop.svg" type="image/svg+xml" />
                <h5>
                    <B>Bad news</B> <br/>
                    In this conditions you should reconsider. <span id="more-info"></span>
                    
                </h5>
            </div>
        </p>

        
    </div>
    <script type="text/javascript">
        var zip_dti_conv = {{ dti_conv|safe }};
        var zip_dti_fha = {{ dti_fha|safe }};

        var dti_diff = 0;
        var dti_sd_diff = 0;

        $(document).bind('pageinit', function() {
            $("#slider-income").val(parseInt(zip_dti_conv.income) * 1000);
            $("#slider-loan").val(parseInt(zip_dti_conv.loan_amt) * 1000);
            $('#checkbox-fha').bind('change', function() {
                update_results();
            })
            $("input[data-type=range]").bind('change', function() {
                $('#' + $(this).attr('data-legend') + ' span').html(addCommas($(this).val()));
                update_results();
            });
            $("input[data-type=range]").trigger('change');
        })

        function update_results() {
            var dti = $("#slider-income").val() / $("#slider-loan").val();
            var zip_dti;
            if ($('#checkbox-fha').prop('checked')) {
                zip_dti = zip_dti_fha;
            } else {
                zip_dti = zip_dti_conv;
            }

            $('.result').hide();

            var cur_status = status(dti, zip_dti);

            if (cur_status == 1) {
                $('#result-good').show()
            } else if (cur_status == 0) {
                $('#result-doubt').show()
            } else {
                $('#result-bad').show();
            }
        }

        function status(dti, zip_dti) {

            var dti_diff = Number((dti - zip_dti.dti).toFixed(2))
            if (dti_diff >= 0) {
                return 1;
            } else if ((zip_dti_conv.std_dti < 0.2 && Math.abs(dti_diff) < zip_dti_conv.std_dti) || Math.abs(dti_diff) < 0.2) {
                return 0;
            } else {
                return -1;
            }
        }
    </script>


{% endblock %}