{% extends "base.html" %}

{% block content %}

    <div class="page-container">
        <h2>
            Will they approve me with my good credit in {{ zip.city|title }}, {{ zip.state }}?
        </h2>

        <div class="result-cont">
            <div class="result" id="result-initial">
                <embed src="/static/img/person.svg" type="image/svg+xml" />
                <h5>
                    <B>Enter your information below</B> <br/>
                    
                </h5>
            </div>

            <div class="result" id="result-good" style="display:none;">
                <embed src="/static/img/like.svg" type="image/svg+xml" />
                <h5>
                    <B>Go ahead</B> <br/>
                    Your loan will probably be approved!
                    
                </h5>
            </div>

            <div class="result" id="result-doubt" style="display:none;">
                <embed src="/static/img/question.svg" type="image/svg+xml" />
                <h5>
                    <B>Hmmm</B> <br/>
                    Loans like these have been approved before... <br/> <span id="more-info"></span>
                </h5>
            </div>

            <div class="result" id="result-bad" style="display:none;">
                <embed src="/static/img/stop.svg" type="image/svg+xml" />
                <h5>
                    <B>Bad news</B> <br/>
                    In these conditions you should reconsider. <span id="more-info"></span>
                    
                </h5>
            </div>
        </div>

        <fieldset>
            <div style="float: right;" id="income-legend">
                $ <span></span>
            </div>
            <label for="slider-1">What is your income?</label>
            <input type="range" name="slider-income" id="slider-income" step="1000" value="100000" min="0" max="800000" data-highlight="true" data-legend="income-legend"/>
        </fieldset>

        <fieldset>
            <div style="float: right;" id="loan-legend">
                $ <span></span>
            </div>
            <label for="slider-1">What is the loan amount?</label>
            <input type="range" name="slider-loan" id="slider-loan" step="1000" value="350000" min="0" max="1000000" data-highlight="true" data-legend="loan-legend" />
        </fieldset>

        <div data-role="fieldcontain" class="ui-hide-label">
            <fieldset data-role="controlgroup">
               <legend>FHA/VA loan?</legend>
               <input type="checkbox" name="checkbox-fha" id="checkbox-fha" class="custom" value='1' />
               <label for="checkbox-fha">FHA/VA loan?</label>
            </fieldset>
        </div>

        
    </div>
    <script type="text/javascript">
        var zip_dti_conv = {{ dti_conv|safe }};
        var zip_dti_fha = {{ dti_fha|safe }};

        var dti_diff = 0;
        var dti_sd_diff = 0;

        $(document).bind('pageinit', function() {
            $("#slider-income").val(parseInt(zip_dti_conv.income) * 1000);
            $("#slider-loan").val(parseInt(zip_dti_conv.loan_amt) * 1000);
            $('#checkbox-fha').bind('change', function() {
                update_results();
            })
            $("input[data-type=range]").bind('change', function() {
                $('#' + $(this).attr('data-legend') + ' span').html(addCommas($(this).val()));
            });

            $("input[data-type=range]").trigger('change');

            $("input[data-type=range]").bind('change', function() {
                update_results()
            });
            

        })

    </script>


{% endblock %}