h2 {
    font-weight: normal;
    line-height: 24px;
    font-size: 20px;
}

.ui-slider-input {
    display : none !important;
}

.page-container  {
}


.page-container div.ui-slider {
    width: 90%;
}

.page-container fieldset {
    margin-top: 10px;
    margin-bottom: 40px;
}

.result embed {
    float: left;
}

.result h5 {
    float: left;
    font-size: 18px;
    font-weight: normal;
    width: 200px;
    margin-top: 5px;
    margin-left: 10px;
}

.result-cont {
    height: 200px;
    overflow: hidden;
}

.home-desc embed {
    float: left;
}

.home-desc h1 {
    float: left;
    width: 210px;
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

